<% layout("/layouts/boilerplate") %>
<body>
    
    <img class="landing-img" src="https://res.cloudinary.com/dai2jrbic/image/upload/v1748142668/Untitled_design_1_rcczyh.png" />

    <img class="landing-img" src="https://res.cloudinary.com/dai2jrbic/image/upload/v1748142669/Untitled_design_2_ig0xoz.png" />
    <img class="landing-img" src="https://res.cloudinary.com/dai2jrbic/image/upload/v1748142668/Untitled_design_3_iwnott.png" />
</body>