/* General */
body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container{
    flex: 1;
}
a{
    text-decoration: none;
    color: black;
}
/* Navbar */
.navbar,.navbar-collapse{
    height: 5rem;
}
.accordion{
    overflow: visible;
    height: 5rem;
    margin-top: 1.5rem;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 ;
    font-size: 1.3rem;
}
/* Footer */
.f-info{
    background-color: rgb(239, 239, 239);
    height: 8rem;
    align-items: center;
    text-align: center;
    --bs-gutter-x: 0rem;
}
.f-socials i{
    font-size: 1.5rem;
    margin-right: 1.2rem;

} 
.f-links a{
    text-decoration: none;
    color: #222222;
}
.f-links a:hover{
    text-decoration: none;
    color: #260bbc;
}
/* Cards - lisitng */
.all-listings{
    /* border-width: 1px;
    border-style: solid;
    border-color: #dee2e6;
    padding: 1rem;
    border-radius: 1rem; */
}
.listing-img{
    height: 15rem;
}
.landing-img {
    height: 20rem;
    width: 50%;
    border-radius: 1rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.new-listing{
    border-width: 1px;
    border-style: solid;
    border-color: #dee2e6;
    padding: 1rem;
    background-color: rgb(248, 249, 250) ;
    border-radius: 1rem;
}
.card-link{
    margin-bottom: 2rem;
}
.card-listing{
    width: 15rem;
    height: 20rem;
    border: none;
    border-radius: 1rem;  
    background-color: rgb(242, 242, 241);  
}
.card-listing img{
    border-radius: 1rem;
    height: 18rem;
}
.card-body p{
    font-weight: 600;
}
/* Card Effect */
.card-index .card-img-overlay{
    border-radius: 1rem;
    opacity: 0;
}
.card-index .card-img-overlay:hover{
    opacity: 0.2;
    background-color: whitesmoke;
}
.card-listing:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* new-page */
.submit-btn,.cancel-btn{
    width: 5.2rem; 
    height: 2.5rem;
    border: none;
}
.submit-btn:hover{
    background-color:#fe424d;
}

/* card-show */
.card-show{
    border: none;
    border-radius: 1rem;
    background-color: rgb(242, 242, 241);
}
.card-show img{
    border-radius: 1rem;
    height: 20rem;
}

/* card-review */
.card-review{
    width: 18rem;
    height: 14rem;
    border: none;
    border-radius: 1rem;   
    background-color: rgb(242, 242, 241);    
}
.card-review:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Map */
#map{
    height: 400px;
    border-radius: 8px;
}